* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62,5%;
}
$colortextos: black;
$fondoprimario: rgb(169, 171, 177);
$fondosecundario: rgb(77, 71, 116);
$recuadros: rgb(201, 211, 243);
$textoremarcado:rgb(50, 95, 136) ;
$subtitulos: rgb(5, 5, 51);
