.msj {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 10px;
    padding: 30px;
}
.mensaje {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: 2px; color: $colortextos;
    font-style: normal;
    text-align: center;
    background-color: $recuadros;
    width: 450px;
    height: 450Px;
    margin: 10px;
    padding: 30px;
    border: solid 1px $colortextos
}
.botones {
    background-color: $fondosecundario;
    font-size: bold 20px;    
}
.botones1{
    display: flex;
    flex-direction: row;
}


