.emprendimiento {
    @extend %flexrowcenter;
    background: radial-gradient(circle,$recuadros, $recuadros2);   
    margin: 20px;
    border: solid 2px $colortextos;
    padding: 20px
}
        .textoemprendimiento {
           @extend %columnacenter !optional;
        }    
            .imagenemprendimiento {
                @extend %columnacenter !optional;
                text-align: center;
                width: 100%;
                height: 100%;
                margin: 10px;
            }
                .imagenemprendimiento img {
                    width: 100%;
                    height: 100%;
                    margin: 10px;
                }
.emprendimiento1 {
    @extend %flexrowcenter;
    background: radial-gradient(circle,$recuadros, $recuadros2);
    margin: 20px;
    border: solid 2px $colortextos;
    padding: 20px
}
        .textoemprendimiento1 {
            @extend %columnacenter !optional;
        }
                .imagenemprendimiento1 {
                    @extend %columnacenter !optional;
                    width: 100%;
                    height: 100%;
                    margin: 10px;
                }
                    .imagenemprendimiento1 img {
                        width: 100%;
                        height: 100%;
                        margin: 10px;
        }
a {
    text-decoration: none
}
.emprendimiento2 {
    @extend %flexrowcenter;
    background: radial-gradient(circle,$recuadros, $recuadros2);
    align-items: center;
    margin: 20px;
    border: solid 2px $colortextos;
    padding: 20px
}
        .divtextoemprendimiento2 {
            @extend %columnacenter !optional;
        }
            .imagenemprendimiento2 {
                @extend %columnacenter !optional;
                width: 100%;
                height: 100%;
                margin: 10px;
            }
                .imagenemprendimiento2 img {
                    width: 100%;
                    height: 100%;
                    margin: 10px;
                }
