header {
    margin: 10px;
    padding: 10px;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle,$textoremarcado, $fondosecundario);
}
body{
    background: radial-gradient(circle, $textoremarcado, $fondoprimario);
    margin: 20px;
}
main{
    margin: 20px, 20px;
}
a:hover{
    color: $textoremarcado;
    transform: translate(-5px, -6px);
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    overflow: hidden;
    margin: 10px;
    width: 100%;
    height: 100%;
        ul {
            display: flex;
            flex-direction: row;
            list-style-type: none;
            justify-content: space-between;
            align-items: center;
            margin: 30px;
            }
                li {
                    height: 50px;
                    width: 60px;
                    text-align: left;
                    } 
}
.logo {
    display: flex;
    text-align: right;
    width: 100px;
    height: 50px;
    align-items: start ;
    margin: 40px ;
        .logo img {
            width: 100%;
            height: 100%;
            border: solid 2px $colortextos;
            margin-bottom: 20px;
            padding: 10px;
            overflow: hidden;
        }
}
.iconos{
    display: flex;
    flex-direction: row;
}
.redes{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 30px;
    margin: 20px;
    padding: 10px;
}
.redes img{
    width: 25px;
    height: 25px;
    margin: 5px;
}
.redes1{
font-family: Arial, Helvetica, sans-serif;
font-size: xx-small;
color: $colortextos;
text-align: left;
text-size-adjust: 5px;
margin: 20px;
padding: 10px;
}
.redes1 img{
    width: 20px;
    height: 20px;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    color: $subtitulos;
    margin: 40px;
}
p {
    font-size: 15px;
}
h3{
    font-size: 17px;
    text-align: center;
    color: $subtitulos;
}
h4{
    font-size: 15px;
    color:$colortextos
}
.emp {
    width: 180px;
    text-align: center;
}
footer{
    background: radial-gradient(circle,$textoremarcado, $fondosecundario);
    margin: 10px;
    padding: 10px;
    width: 100%;
    height: 100%;
}
.datos{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: left;
    color: $colortextos;
    margin: 20px;
}
.datos1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: right;
    color: $colortextos;
    margin: 20px;
}
.pie{
    display: flex;
    flex-direction: row;
    align-content: end;
    justify-content: end;
    margin:10px 80px 10px 10px;
    padding: 10px
}
.iniciouno{
    @extend %flexrowcenter;
    margin: 10px;
    padding: 20px;
}
.inicio2{
    width: 50%;
    height: 50%;
    margin : 20px;
    padding: 30px;
    border: solid 1px;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: $recuadros;
}
.inicio1{
    width: 50%;
    height: 50%;
    @extend %flexrowcenter;
    align-content: center;
    justify-content: center;
    border: solid 1px $colortextos;
    margin: 10px;
    padding: 20px;
}
.inicio1 img { 
    height: 40%;
    width: 40%;
}
.inicio3{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.animacion {
    position: relative;
    animation-name: prianimacion;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 10s;
    animation-delay: 3s;
}
@keyframes prianimacion{
   0%{
    width: 150px;
   } 
   25% {
    width: 200px;
   }
   50%{
    width: 250px;
   }
   75%{
    width: 300px;
   }
   100% {
    width : 350px;
   }
}
.botonesinicio {
    position: relative;
    font-size: bold 12px;  
    padding: 10px 20px;
    background: none;
    border-style: none;
    border: 1px solid $colortextos;
    color: $colortextos;
    margin-bottom: 20px; 
}
.botonesinicio:hover{
    text-decoration: none;
    border-style: none;
    color: $textoremarcado;
}
abotonesinicio:hover{
    text-decoration: none;
    border-bottom: none;
    color: none;
}