.emprendimiento {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: $recuadros;
    align-items: center;
    margin: 20px;
    border: solid 2px $colortextos;
    padding: 20px
}
        .divtextoemprendimiento {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }    
            .divimagenemprendimiento {
                justify-content: center;
                margin: 10px;
            }
.emprendimiento1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $recuadros;
    margin: 20px;
    border: solid 2px $colortextos;
    padding: 20px
}
        .divtextoemprendimiento1 {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            }
                .divimagenemprendimiento1 {
                    flex-direction: column;
                    justify-content: center;
                    margin: 10px;
                }
.emprendimiento2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: $recuadros;
    align-items: center;
    margin: 20px;
    border: solid 2px $colortextos;
    padding: 20px
}
        .divtextoemprendimiento2 {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
            .imagenemprendimiento2 {
                flex-direction: column;
                justify-content: center;
                width: 100%;
                height: 100%;
            }
